<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .btn-secondary {
            background-color: #ffffff;
            color: #00796b;
            border: 2px solid #00796b;
            padding: 10px 25px;
            font-size: 16px;
            border-radius: 5px;
            text-decoration: none;
            transition: all 0.3s;
        }
    </style>
</head>
<body>
    <h1>welcome to home page</h1>
    <a href="/loginpage" class="btn-secondary">Login</a>
    <a href="/signup" class="btn-secondary">Signup</a>
</body>
</html>